
    /*CSS*/
    
    @import '3d.css';
    @import 'nav.css';

/*Her sitede olan kod ayarları burada olur.*/
/* 768px tablet için 460px telefon için!!!*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
  }
  body {
    height: 100vh;
    margin: 0;
    background-color: bisque;
}

    a, li, ul {
            text-decoration: none;
            color: inherit; 
            list-style: none;
    }
    

